.topics {
    background: var(--blue-gradient);
    text-align: center;
    padding: 1.5em 0.6em;
}

.topics__title {
    color: var(--white);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item {
    margin: 1.5em 0.5em;
}

.topics__link {
    color: var(--white);
    padding: 1em 1.5em;
    background-color: var(--orange);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 900px) {
    .topics {
        padding: 2em 15vw;
    }
   
    .topics__title {
        font-size: 18px;
    }

    .topics__item {
        margin: 2em 0.6em;
    }

    .topics__link {
        font-size: 18px;
    }
}

@media screen and (min-width: 1400px) {
    .topics {
        padding: 3em 25vw;
    }
}